*{
    border: 0;
    margin: 0;
    font-family: Verdana ;
}
div{
    text-align: left;
    margin: 0px 20rem;
    padding: 48px;
    line-height: 24px;

}
h4 {
    padding: 20px;
}
.primeira-div{
    text-align: left;
    padding: 14px;
    font-size: 10px;
}
.segunda-div{
    margin: 0;
    background-image: url(img/capa.jpg);
    background-size: cover;
    height: 400px ;
}
.segunda-div h2, .segunda-div h3 {
    text-align: right;
    margin-right: 20rem;
}
.segunda-div h2 {
    padding-top: 35px;
    font-size: 28px;
}
.segunda-div h3 {
    font-size: 20px;

}
.terceira-div h2{
    padding-bottom: 12px;
    font-size: 20px;
}
.terceira-div span {
    margin: 24px 0px;
}
.terceira-div img{
    width: 250px;
    margin: 12px 0px;
}
.paragrafo-border {
    border-left: 2px solid;
    padding-left: 10px;
}
.div-atuacao-contato {
    margin: 0;
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.div-atuacao-contato h2{
    text-align: center;
    background-color: white;
    color: black;
    margin: 0px 39rem;
    padding: 5px 15px 5px 15px;
    border-radius: 12px;
}